{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
    <p class="login-box-msg">{{ 'octave_password.reset.title' | trans({}, 'octave_password') }}</p>

    {% for flash_message in app.flashes('error') %}
        <div class="alert alert-danger alert-error">
            {{ flash_message }}
        </div>
    {% endfor %}

    {{ form_start(form, {'attr': {'role': 'form'}}) }}

    <div class="form-group has-feedback">
        {{ form_label(form.plainPassword.first) }}
        {{ form_widget(form.plainPassword.first, {
            'attr': {
                'class': 'form-control',
                'placeholder': 'octave_password.password.new.placeholder' | trans({}, 'octave_password')
            }
        }) }}
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        {{ form_errors(form.plainPassword.first) }}
    </div>

    <div class="form-group has-feedback">
        {{ form_label(form.plainPassword.second) }}
        {{ form_widget(form.plainPassword.second, {
            'attr': {
                'class': 'form-control',
                'placeholder': 'octave_password.password.new.confirmation.placeholder' | trans({}, 'octave_password')
            }
        }) }}
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        {{ form_errors(form.plainPassword.second) }}
    </div>

    <div class="row">
        <div class="col-xs-12">
            <button type="submit" class="btn btn-primary btn-block btn-flat">{{ 'octave_password.reset.save' | trans({}, 'octave_password') }}</button>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock fos_user_content %}